
doctype 5
html(lang='en')
  head
     

    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')



    link(href='css/searchMeme.css', rel='stylesheet')
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet')    
    link(href='bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
    
    script(src='js/jquery.min.js')

    script(src='js/live_search.js')
    
      
    //
      Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/bootstrap/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/bootstrap/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/bootstrap/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/bootstrap/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/bootstrap/ico/favicon.png')
    block head
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') #{title}
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
    
    .container
      block content
          

