html(lang='en', ng-app='kmc', xmlns='http://www.w3.org/1999/xhtml')
head
    meta(name='generator', content='HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org')
    meta(charset='utf-8')
    title Form Search
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='bootstrap/css/bootstrap-responsive.css', rel='stylesheet', type='text/css')
    link(href='css/layout.css', rel='stylesheet', type='text/css')
    link(rel='icon', type = "image/png",href='images/favicon.png')
  body
    //
      Top navbar
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='') Form Search
          .nav-collapse.collapse
            ul.nav
              li
                a(href='/') Search
              li
                a(href='upload') Add a Form

      //
        Layout container
    .container
      block content

    script(src='js/jquery.min.js')
    script(src='js/handlebars.js')    
    //
    script(id="entry-template", type="text/x-handlebars-template")

      ul.unstyled.lead
        {{#each results}}
        br
        li
         a(href="uploads/{{filename}}") {{title}}
        li
          Institution {{name}}
        li  
          Location {{city}}
          
        {{/each}}
    script(src='/js/controller.js')
