extends index
block head
  style
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

    }
    #omnibox {
      border:1px solid #97B5D2;
      color:#25313C;
      width: 900px ;
      height: 90px ;
      font: 75px 'Lucida Grande';
      
      margin:0;
      outline:0 none;
      padding:7px;
      margin-top: 125px
    }
    .centered-content{
      text-align:center;
    }

    script(type='text/javascript')
      $(document).ready(function () {
        var search = $('.omnibox').searchMeme({ onSearch: function (searchText) {
          setTimeout(function () {
          search.searchMeme({ searchComplete: true });
          alert('Search completed.');
          }, 3000);
          }
          , buttonPlacement: 'left', button: 'orange'
          });
        });



block content
  .centered-content
    input#omnibox(type='text', placeholder='Search here')
    //dl
    #results