extends layout

block content

  //Modal Delete Dialog
    #del_city_modal.remove.modal.fade(role="dialog", tabindex="-1")
      .modal-header
        h3 Delete form confirmation
      .modal-body Are you sure you want to delete the city: 
        b city.city
        |?
      .modal-footer
        #del_final.btn.btn-primary Yes
        .btn.btn-danger(data-target="#del_city_modal", data-dismiss="modal") No
    .row
      .span2

  form.form-horizontal.settings(action='/api/settings', method='post',enctype='multipart/form-data')
      fieldset
          //
             Form Name 
          legend Settings 
            i.icon-cog.icon-large
          //
             Button 
          .control-group
            label.control-label(for='singlebutton')
            .controls
              div#accnt.btn.btn-inverse.showmenu Manage Account    
                i.icon-chevron-right
          div#accnt.menu
            
            .control-group
              label.control-label(for='email') Email
              .controls
                input#email.input-xlarge(name='email', type='text', placeholder='joe@example.com')
                p.help-block this will be your username
            //
               Password input
            .control-group
              label.control-label(for='passwordinput') Password
              .controls
                input#passwordinput.input-xlarge(name='passwordinput', type='password', placeholder='')
                p.help-block must be at least 7 characters long
            //
               Password input
            .control-group
              label.control-label(for='passwordinput')
              .controls
                input#passwordinput.input-xlarge(name='passwordinput', type='password', placeholder='repeat password')

          //
             Button 
          .control-group
            label.control-label(for='singlebutton')
            .controls
              div#inst.btn.btn-info.showmenu Add Clinic/Hospital  
                i.icon-chevron-right#inst

          div#inst.menu

            .control-group
              label.control-label(for='new_inst') Institution Name
              .controls
                input#textinput.input-xlarge(name='new_inst', type='text', placeholder='e.g. Vancouver General Hospital')
                p.help-block do not use any abbreviations 
            
            .control-group
              label.control-label(for='city') City  
              .controls
                select#selectbasic.input-large(name='city', id = 'city')
                  option(value="null") -- Choose a city --
                  for city in cities
                    option(value=city.id)!=city.city

          //Show a list of all the current cities in DB
          h4 Current Cities
          ul.unstyled
            for city in cities
              li
                | #{city.city} 
                a.remove(data-id=city.id, data-target="#del_form", data-toggle="modal")
                  i.icon.icon-remove.btn(data-target="#myModal", data-toggle="modal")
          //
             Button 
          .control-group
            label.control-label(for='singlebutton')
            .controls
              div#city.btn.btn-info.showmenu Add City  
                i.icon-chevron-right#city

          div#city.menu
            .control-group
              label.control-label(for='new_city') City Name 
              .controls
                input#textinput.input-xlarge(name='new_city', type='text', placeholder='e.g. Vancouver')
                p.help-block do not use any abbreviations 

          //
             Button 
          .control-group
            label.control-label(for='singlebutton')
            .controls
              div#reason.btn.btn-info.showmenu Add Reason  
                i.icon-chevron-right#reason

          div#reason.menu
            .control-group
              label.control-label(for='textinput') Reason Name
              .controls
                input#textinput.input-xlarge(name='new_reason', type='text', placeholder='e.g. osteoporosis')
                
          .control-group
            label.control-label(for='singlebutton')
            .controls
              input#reason.btn.btn-success(type="submit") Save your settings
  

  :coffeescript
    #Delete city modal dialog event handler
    $("#del_city").click ->
      id = $(this).attr 'data-id'
      $("#del_city > .modal-body > b").html(id)
      $.get '/api/delete/city/id', {id: id}
    #Delete city ajax event handler
    $("#del_city > .modal-footer > #del_final").click ->
      $.get "/api/delete/city/"+ ($(this).attr 'data-id')
