extends layout

block content

  form.form-horizontal(action='/api/upload', method='post',enctype='multipart/form-data')
    fieldset
        //
           Form Name 
        legend Upload a Form
        //
           Text input
        .control-group
          label.control-label(for='title') Form Title
          .controls
            input#title.input-xlarge(name='title', type='text', placeholder='ex. KMC Asthma Refferal Form', required='')
            p.help-block title of form (look at top) 
       //
           Select Basic
      
      .control-group
        label.control-label(for='selectbasic') Select a Reason
        .controls
          select#selectbasic.input-large(id="reason")

            // Handlebars template for mulitple reason input
            for reason in reasons
              option!=reason.name

        //
           Multiple Checkboxes 
        .control-group
          label.control-label(for='is_ped') Is it Pediatric?
          .controls
            label.checkbox(for='Pediatric-0', required='')
              input#Pediatric-0(type='checkbox', name='is_ped', value='t')
              | Yes
            label.checkbox(for='Pediatric-1')
              input#Pediatric-1(type='checkbox', name='is_ped', value='f')
              | No
      //
           Select Basic
      
      .control-group
        label.control-label(for='selectbasic') Select the Institution
        .controls
          select#selectbasic.input-large(id="reason")

            for place in places
              option!=place.name
                    

       //
           Select Basic
      
      .control-group
        label.control-label(for='selectbasic') Select a City
        .controls
          select#selectbasic.input-large(id="reason")

            for place in places
              option!=place.city
                    
        //
           File Button 
        .control-group
          label.control-label(for='upload') Upload Form
          .controls
            input#upload.input-file(type='file')
        //
           Button 
        .control-group
          label.control-label(for='singlebutton')
          .controls
            button#singlebutton.btn.btn-primary(type ='submit', name='singlebutton') Submit Form
