extends layout

block content

  form.form-horizontal(action='/api/upload', method='post',enctype='multipart/form-data')
    fieldset
        //
           Form Name 
        legend Upload a Form 
          i.icon-cloud-upload.icon-large
        //
           Text input
        .control-group
          label.control-label(for='title') Form Title
          .controls
            input#title.input-xlarge(name='title', type='text', placeholder='ex. KMC Asthma Referral Form', required='')
            p.help-block look at top of form
       //
           Select Basic
      
      .control-group
        label.control-label(for='selectbasic') Diagnosis/Reason
        .controls
          select#selectbasic.input-large(name="reason", id="reason")
            option(value='null') --Choose a reason--
            for reason in reasons
              option(value=reason.id)!= reason.name

        //
           Multiple Checkboxes 

        .control-group
          label.control-label(for='radios') Is it Pediatric?
            .controls
              label.radio(for='ped_t')
                input#radios-0(type='radio', name='ped_t')
                | Yes
              label.radio(for='ped_f')
                input#radios-1(type='radio', name='ped_f')
                | No
      //
           Select Basic
      
      .control-group
        label.control-label(for='city') City
        .controls
          select#selectbasic.input-large(name="city", id="city", required='')
            option(value='null') --Choose a city--
            for city in cities
              option(value=city.id)!=city.c_name
      //
           Select Basic

      .control-group
        label.control-label(for='selectbasic') Institution
        .controls
          select#selectbasic.input-large(id = "institution", name="institution", required='')
      //
         File Button 
      .control-group
        label.control-label(for='upload') Upload your PDF
        .controls
          input#upload.input-file(type='file', name='displayForm', required='')
      //
         Button 
      .control-group
        label.control-label(for='singlebutton')
        .controls
          button#singlebutton.btn.btn-primary(type ='submit', name='singlebutton') 
            | Submit 
            

  // Handlebars template for institutions
  script(id="template", type="text/x-handlebars-template")
    {{#each places}}
    option(value='{{id}}')  {{name}}
    {{/each}}