    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

    }
    #omnibox {
      border:1px solid #97B5D2;
      color:#25313C;
      margin:0;
      outline:0 none;
      padding:7px;
      margin-top: 125px;
      margin-bottom: 30px;

    }
    #omnibox.large {
      font: 75px 'Lucida Grande';
      width: 940px ;
      height: 90px ;
    }
     #omnibox.small {
      font: 25px 'Lucida Grande';
      width: 940px;
      height: 30px;
    }
    #modify {
      display: none;
    }
    .centered-content{
      text-align:center;
    }
    .menu {
      display:none;
    }
    .results{
      list-style-type: none;
      text-align: left;
      font: 15px 'Lucida Grande';
      padding: 50px;
      padding-top: 3px;
    }
