    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      font-family: 'PT Sans', Georgia, Times, serif;
      line-height: 25px;
      font-size: 16px;
    }
    label .btn{
      font-family: 'PT Sans', Helvetica, Arial, sans-serif;
      font-size: 25px;
      line-height: 35px;
    }

    h1 h2 h3 h4 h5 legend {
        font-family: 'Arvo', Georgia, Times, serif;
    }

    #omnibox {
      border:1px solid #97B5D2;
      font-family: 'Avro', Helvetica, Arial, sans-serif;
      color:#25313C;
      margin:0;
      outline:0 none;
      padding:7px;
      
      margin-bottom: 30px;

    }
    #omnibox.large {
      font-size: 75px;
      line-height: 80px;
      width: 940px ;
      height: 90px ;
      margin-top: 125px;
    }
     #omnibox.small {
      font: 25px 'PT Sans';
      line-height: 20px;
      width: 940px;
      height: 40px;
      margin-top: 25px;
    }
    .centered-content{
      text-align:center;
    }
    .menu {
      display:none;
    }
    .results{
      list-style-type: none;
      text-align: left;
      font: 15px 'PT Sans';
      padding: 50px;
      padding-top: 3px;
    }

    .navbar-inner {
      font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    }

    .brand {
      font-size: 25px;
    }
    .nav { 
      font-size: 17px;
    }
    .nav>li{
      border-style: solid;
      border-width: 10px 5px 0 5px;
      border-color: rgba(255, 0, 0, .0);
      background-color:transparent;
    }
    .nav>li>a{

    }
